# https://github.com/fieldsets/fieldsets-db-postgres
# Postgres DB Container Vars

    POSTGRES_HOST='0.0.0.0'
    POSTGRES_PORT=5432
    POSTGRES_DB='fieldsets'
    POSTGRES_USER=''
    POSTGRES_PASSWORD=''

# https://github.com/fieldsets/cache-plugin-redis
# Redis Cache Container Vars
    REDIS_HOST='0.0.0.0'
    REDIS_PORT=6379

# https://github.com/fieldsets/dashboard-plugin-redash
# Redash Dashboard Container Vars.
    DASHBOARD_HOST='0.0.0.0'
    DASHBOARD_WORKER_HOST='0.0.0.0'
    DASHBOARD_SCHEDULER_HOST='0.0.0.0'
    DASHBOARD_DB_HOST='0.0.0.0'
    DASHBOARD_DB_PORT=5432
    DASHBOARD_DB='dashboard'
    DASHBOARD_DB_USER=''
    DASHBOARD_DB_PASSWORD=''
    DASHBOARD_CACHE_INDEX=0
    DASHBOARD_VERSION='latest'

    # Use `pwgen -1s 32` to generate
    REDASH_COOKIE_SECRET=''
    REDASH_SECRET_KEY=''

