POSTGRES_HOST='0.0.0.0'
POSTGRES_PORT=5432
POSTGRES_DB='fieldsets'
POSTGRES_USER=''
POSTGRES_PASSWORD=''

REDIS_HOST='0.0.0.0'
REDIS_PORT=6379

# This can contain the same values as your postgres DB if hosting on the same server.
DASHBOARD_HOST='0.0.0.0'
DASHBOARD_WORKER_HOST='0.0.0.0'
DASHBOARD_SCHEDULER_HOST='0.0.0.0'
DASHBOARD_DB_HOST='0.0.0.0'
DASHBOARD_PORT=5432
DASHBOARD_DB='dashboard'
DASHBOARD_USER=''
DASHBOARD_PASSWORD=''
DASHBOARD_CACHE_INDEX=0

# Use `pwgen -1s 32` to generate
REDASH_COOKIE_SECRET=''
REDASH_SECRET_KEY=''


